<footer class="footer" id="footer" role="contentinfo">
  <div>
    <ol class="o-list-bare">
      <li>
        <a href="https://twitter.com/{{ site.twitter }}" rel="me">Twitter</a>
      </li>
      <li>
        <a href="https://www.facebook.com/{{ site.facebook  }}" rel="me">Facebook</a>
      </li>
      <li>
        <a href="https://github.com/{{ site.github }}" rel="me">GitHub</a>
      </li>
      <li>
        <a href="https://plus.google.com/u/0/{{ site.googleplus }}" rel="me">Google+</a>
      </li>
      <li>
        <a href="mailto:{{ site.email }}" rel="me">Email</a>
      </li>
      <li>
        <a href="{{ site.url }}rss.xml">RSS</a>
      </li>
    </ol>
  </div>
  <div>
    <p>Built by
      <a href="https://www.growdigital.org/">Jake Rayson</a> with
      <a href="http://www.metalsmith.io/">Metalsmith</a>, deployed by
      <a href="https://www.netlify.com/">Netlify</a>
    </p>
    <p>
      <small>Copyright &copy; Jake Rayson 2017-18, licensed under
        <a href="https://choosealicense.com/licenses/mit/">MIT</a> &amp;
        <a href="https://choosealicense.com/licenses/gpl-3.0/">GPL v3</a>
      </small>
    </p>
  </div>
</footer>