<dl>
  <dt>Author:</dt>
  <dd class="p-author">{{ site.author }}</dd>
  <dt>Permalink URL:</dt>
  <dd>
    <a class="u-url" href="{{ site.url }}{{ path }}/">{{ site.url }}{{ path }}/</a>
  </dd>
</dl>