<!-- Schema.org markup for Google+ -->
<meta itemprop="headline" content="{{ title }}">
<meta itemprop="description" content="{{ excerpt }}">
<meta itemprop="image" content="{{#if image}}{{ image }}{{else}}{{ site.url }}{{ site.publisherLogo }}{{/if}}">
<meta itemprop="author" content="{{ site.author }}">
<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
  <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
    <meta itemprop="url" content="{{ site.url }}{{ site.publisherLogo }}">
    <meta itemprop="width" content="{{ site.publisherLogoWidth }}">
    <meta itemprop="height" content="{{ site.publisherLogoHeight }}">
  </div>
  <meta itemprop="name" content="{{ site.publisher }}">
</div>