<!-- Schema.org markup for Google+ -->
<meta itemprop="headline" content="{{ title }}">
<meta itemprop="description" content="{{ excerpt }}">
<meta itemprop="image" content="{{ image }}">
<meta itemprop="author" content="{{ site.author }}">
<div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
  <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
    <meta itemprop="url" content="{{ site.url }}assets/images/logo.png">
    <meta itemprop="width" content="218">
    <meta itemprop="height" content="136">
  </div>
  <meta itemprop="name" content="{{ site.publisher }}">
</div>