<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
</head>

<body>
  <header>
    <p>
      <a href="/">Home</a>
    </p>
  </header>
  <h1>{{ title }} IN HERE</h1>
  <p>{{ site.description }}</p>

  {{{ contents }}}

  <footer>
    <p>
      <a href="{{ site.url }}">{{ site.url }}</a>
    </p>
  </footer>

</body>

</html>