<!doctype html>
<html lang="{{ site.lang }}">
{{> head}}

<body class="no-js post">
  {{> header}}
  <div class="wrapper">
    <article class="post" itemscope itemtype="http://schema.org/Article">

      <!-- Schema.org markup for Google+ -->
      <meta itemprop="name" content="{{ title }}">
      <meta itemprop="description" content="{{ excerpt }}">
      <meta itemprop="image" content="{{ image }}">

      <h1>{{ title }}</h1>
      <time pubdate>{{ date }}</time>
      {{{ contents }}}
    </article>
  </div>
  {{> footer}}
  <script src="/assets/scripts.js"></script>
</body>

</html>