<!doctype html>
<html lang="{{ site.lang }}">
{{> head}}

<body class="no-js status">
  {{> header}}
  <div class="wrapper">
    <article class="status h-entry" itemscope itemtype="https://schema.org/SocialMediaPosting">
      {{> microformats-schema}}
      <div class="e-content">
        <h1 class="p-name">{{ title }}</h1>
        {{#if image}}
        <figure>
          <img src="{{ image }}" alt="{{ imageAlt }}">
          <figcaption>{{ imageCap }}</figcaption>
        </figure>
        {{/if}} {{{ contents }}}
      </div>
      <dl>
        <dt>Date:</dt>
        <dd>
          <time class="dt-published" pubdate itemprop="datePublished">{{ statusDate }}</time>
        </dd>
        <dt>Author:</dt>
        <dd rel="author">{{ site.author }}</dd>
        <dt>Permalink URL:</dt>
        <dd>
          <a class="u-url" href="{{ site.url }}{{ path }}/">{{ site.url }}{{ path }}/</a>
        </dd>
      </dl>
    </article>
  </div>
  {{> footer}}
  <script src="/assets/scripts.js"></script>
</body>

</html>